html,body{
  width:100%;
  height:100%;
  margin:0
}

.page{
  background: #F8F8F8;
  width: 100%;
  height: 100%;
}

.header {
  height: 36px;
}

.main {
  height: calc(100% - 36px - 24px);
  margin: 8px 8px 16px 8px;
  display: flex;
  background: #ffffff;
  position: relative;
}

.main>.bgx {
  width: 100%;
  position: absolute;
  top: 64px;
  /* z-index: 2; */
  mix-blend-mode: multiply;
  height: calc(100% - 64px);
  overflow-y: scroll;
  overflow-x: scroll;
}


.left {
  width: 50%;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0 rgba(235, 234, 236);
}

.left .info::-webkit-scrollbar{
  display:none;
}

.left .info {
  height: calc(100% - 64px);
  overflow-y: scroll;
}

.right {
  position: relative;
  width: 50%;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0 rgba(235, 234, 236);
}

.border{
  width: 4px;
  height: 100%;
  background-color: #E9EAEE;
  cursor: col-resize;
  position: absolute;
  /* z-index: 3; */
}

.content{
  margin-left: 4px;
  height: 100%;
  mix-blend-mode: multiply;
  position: relative;
  width: max-content;
}


.controller{
  background: #cadae9;
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 10;
}

.left .header,
.right .header{
  background: #fff;
  height: 64px;
  display: flex;
}

.left,
.right{
  overflow-x: scroll;
}

.right .header .container{
  min-width: 200px;
  border-right: solid 1px #DFE6ED;
  border-left: solid 1px #DFE6ED;
  border-bottom: solid 1px #DFE6ED;
  font-size: 12px;
  color: #8091A5;
}



.right .header .container .up{
  text-align: center;
  height: 50%;
  line-height: 31px;
}

.right .header .container .down{
  display: flex;
  justify-content: space-evenly;
}

.right .header .container .down .num{
  font-size: 6px;
  text-align: center;
  height: 13px;
  line-height: 13px;
}

.draw-bg {
  position: absolute;
  height: calc(100% - 64px);
  display: flex;
  top: 64px;
  z-index: 1;
}

.draw{
  position: relative;
  height: calc(100% - 64px);
  overflow-y: scroll;
  z-index: 2;
  mix-blend-mode: multiply;
}

.section {
  width: 200px;
  min-width: 200px;
  height: 100%;
  border-right: solid 1px #DFE6ED;
  border-left: solid 1px #DFE6ED;
  display: flex;
  justify-content: space-evenly;
  /* z-index: 20; */

}

.section .bg:nth-child(n+1){
  border-left: solid 1px #DFE6ED;
}

.section .bg:nth-child(1),
.section .bg:nth-child(7){
  background-color: #F2F3F5;
}

.section .bg{
  flex: 1;
}

.main .bgx [class|='row'],
.info [class|='row'],
.draw [class|='row']{
  height: 32px;
}


.main  .person:nth-child(odd){
  background-color: #F8F8F8;
}

.main [class|='row']:hover {
  background-color: #E9F2FF;
}

.row {
  position: relative;
}

.bar {
  background-color: #FFD790;
  border-radius: 10px;
  height: 22px;
  margin-top: 5px;
  display: inline-block;
}